/** @format */
.home-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: calc(100vh - 72px);
}
.dp {
	max-width: 250px;
	border-radius: 50%;
	border: 3px solid #ddd;
	/* padding: 0.5rem; */
	box-shadow: 2px 2px 3px #ddd;
}
.dp:hover {
	border-color: goldenrod;
	box-shadow: 2px 2px 3px;
}
.home-info {
	color: #ddd;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 2px 2px 2px #222;
}
.home-info-title {
	font-size: 4rem;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.bold {
	color: goldenrod;
	letter-spacing: 1px;
}
.cv-btn {
	cursor: pointer;
	color: goldenrod;
	background: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 700;
	font-family: monospace;
}
.cv-btn:hover {
	color: #ddd;
	border-color: goldenrod;
}
@media screen and (max-width: 850px) {
	.home-container {
		flex-direction: column;
	}
	.home-info {
		padding: 1rem;
	}
	.home-info-title {
		font-size: 3rem;
	}
	.dp {
		z-index: 0;
	}
}
