/** @format */

.experience-container {
	max-width: 70%;
	margin: auto;
	/* margin-top: 5rem; */
	color: #ddd;
	height: calc(100vh - 72px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.exp-title {
	/* width: 100%; */
}
.exp-sub-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.techs {
	padding: 0.5rem;
	background-color: goldenrod;
	flex-basis: 500px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #333;
	margin-right: 5rem;
}
.techs h2 {
	color: #444;
	padding-left: 1rem;
}
.icon-container {
	width: 350px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 2rem;
}
.icon {
	font-size: 2.5em;
	color: #333;
	margin: 0.5rem;
	margin-bottom: 1.5rem;
}
.experience-info {
	position: relative;
	padding: 0 0 0 1rem;
	line-height: 1.5;
	font-family: monospace;
	font-size: 1rem;
}
.experience-info::before {
	content: '';
	border-left: 2px solid brown;
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 10px;
	box-shadow: 2px 2px 2px #333;
}
@media screen and (max-width: 850px) {
	.experience-container {
		/* margin-top: 4rem; */
	}
	.exp-sub-container {
		flex-direction: column;
	}
	.techs {
		flex-basis: 200px;
		margin-right: 0;
	}
	.experience-info {
		padding-top: 2rem;
		width: 365px;
		padding-left: 0;
	}
	.experience-info::before {
		border-left: none;
	}
}
